/* Files */
@font-face {
  font-family: ByteBounce; /* set name */
  src: url(assets/ByteBounce.ttf); /* url of the font */
}



/* General Changes */
:root {
	--text-color: #f0f0f0;
}

* {
	margin: 0;
	padding: 0;
	font-family: ByteBounce, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--text-color);
	user-select: none;
}

html, body {
	background-color: #000;
	font-size: 32pt;
}

button {
	user-select: none;
}



/* Title screen */
#titleScreen {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	left: 0;
	top: 0;
	z-index: 1000;
}
#titleScreen > .areaBackground {
	position: absolute;
	width: calc(100% + 100px);
	height: calc(100% + 100px);;
	left: -50px;
	top: -50px;

	filter: brightness(0.8);
	background-image: url(assets/titlescreen.png);
	z-index: -1;
	animation: circle 40s linear infinite;
}

#titleScreen > h1 {
	font-size: 128pt;
	color: #202020;
	margin-top: 50px;
	text-align: center;
}
#titleScreen > h3 {
	font-size: 48pt;
	color: #404040;
	margin-top: 10px;
	text-align: center;
}

#globalMessageBox {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	width: 50%;
	background-color: #00000040;
	border: 2px solid #00000020;
	backdrop-filter: blur(32px);
	z-index: 100000;
	padding: 16px 24px;
	box-sizing: border-box;
	border-radius: 20px;
}
#globalMessageLabel {
	font-size: 32pt;
	text-align: center;
	margin-bottom: 8px;
}
#globalMessageText {
	font-size: 24pt;
	color: #d0d0d0;
}
#globalMessageTime {
	font-size: 20pt;
	color: #b0b0b0;
	position: absolute;
	top: 16px;
	right: 16px;
}
.showGlobal {
	animation: showGlobal 8s linear forwards;
}
@keyframes showGlobal {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#playButton {
	position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 150px;
	font-size: 64pt;
	background-color: #00000040;
	backdrop-filter: blur(8px);
	border: 2px solid #00000020;
	border-radius: 20px;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#playButton:hover {
	background: #00000050;
	transform: translate(-50%, -50%) scale(1.02);
}
.fadeOut {
	animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes circle {
	from { transform: rotate(0deg) translate(50px, 0) rotate(0deg); }
	to   { transform: rotate(360deg) translate(50px, 0) rotate(-360deg); }
}


/* Dust */
.dust {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #909090aa;
	border-radius: 50%;
	pointer-events: none;
	opacity: 1;
	transform: translate(-50%, -50%);
	animation: dustFall 0.9s ease-out forwards;
}

@keyframes dustFall {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	20% {
		transform: translate(-50%, -100%) scale(0.9); /* slight lift */
	}
	100% {
		opacity: 0;
		transform: translate(-50%, 150%) scale(0.6); /* fall downward */
	}
}

/* Settings Styling */
#settings {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
	background-color: #000000aa;
	backdrop-filter: blur(8px);
	border: 1px solid #000000;
	border-radius: 20px;
	z-index: 1001;
	padding: 10px;
	text-align: center;

	transform: translate(-50%, -50%);
}
.settingRow {
	margin:;
	display: flex;
	width: fit-content;
	flex-direction: row;
	align-items: center;
	margin-inline: auto;
	margin-top: 10px;
}
#usernameSetting {
	width: 200px;
	padding: 4px 8px;
	border-radius: 10px;
	background-color: #303030;
	border: 2px solid #404040;
	color: #f2f2f2;
	font-size: 20pt;
	margin-left: 20px;
}
#usernameSetting:focus {
	outline: 1px solid #999;
}
#closeSettingsButton {
	position: fixed;
	cursor: pointer;
	background-color: #90909040;
	width: 150px;
	height: 50px;
	bottom: 10px;
	left: 50%;
	border: none;
	font-size: 24pt;
	border-radius: 10px;
	transform: translate(-50%, 0);
}

/* Areas Styling */
#trophyArea {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #a38e38;
	background-image: url(assets/trophiesbg.jpg);
	background-size: 100% 100%;
}
#area1 {
	position: absolute;
	display: block;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #909090;
}
#area1 > .areaBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(assets/area1bg.jpg);
	background-size: 100% 100%;
}
#area2 {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #909090;
}
#area2 > .areaBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(assets/area2bg.jpg);
	background-size: 100% 100%;
}
#area3 {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #909090;
}
#area3 > .areaBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(assets/area3bg.jpg);
	background-size: 100% 100%;
}
#skillTreeArea {
	position: absolute;
	display: none;
	width: 3000px;
	height: 3000px;
	left: 0;
	top: 0;
	background-color: #909090;
	background-image: url(assets/skilltreebg.jpg);
	background-size: 1920px 1080px;
}
#infinityArea {
	position: absolute;
	display: none;
	width: 3000px;
	height: 3000px;
	left: 0;
	top: 0;
	background: #121940;
	background: linear-gradient(120deg,rgba(18, 25, 64, 1) 0%, rgba(73, 30, 89, 1) 100%);
}
#infinityArea > .areaBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(assets/area1bg.jpg);
	background-size: 1920px 1080px;
	opacity: 0.1;
}
.darkBG {
	filter: invert(1) contrast(0.95) brightness(0.9);
}

.centerWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centerRow {
	display: flex;
	gap: 40px;
}

.leaderboard {
	width: 400px;
	height: 500px;
	background-color: #20202060;
	border: 1px solid #40404080;
	border-radius: 16px;
	backdrop-filter: blur(12px);
	text-align: center;
	padding: 16px;
	box-sizing: border-box;
	line-height: 0.85;
}

.leaderboard > h3 {
	font-size: 28pt;
	font-weight: 700;
	margin-bottom: 4px;
}

.leaderboard > p {
	font-size: 20pt;
	font-weight: 400;
}

/* Area Selector */
#areaSelect {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 200px;
	height: 300px;
	border-radius: 20px;
	background-color: #30303040;
	backdrop-filter: blur(8px);
	border: 1px solid #606060a0;
	padding: 8px;
	text-align: center;
}
#areaSelect button {
	margin-block: 3px;
	background-color: #40404030;
	backdrop-filter: blur(2px);
	border: 1px solid #60606060;
	width: 100%;
	padding-block: 4px;
	border-radius: 10px;
	transition: background-color 0.15s ease-in-out;
	font-size: 20pt;
}
#areaSelect button:hover {
	background-color: #50505038;
}
#areaSelect button:active {
	background-color: #40404030;
}

/* Switch styling */
/* The switch - the box around the slider */
.switch {
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: 62px;
 height: 35px;
 margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 1;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0px;
 background: #fff;
 transition: .4s;
 border-radius: 30px;
 border: 1px solid #ccc;
}

.slider:before {
 position: absolute;
 content: "";
 height: 1.9em;
 width: 1.9em;
 border-radius: 16px;
 left: 1.2px;
 top: 0;
 bottom: 0;
 background-color: white;
 box-shadow: 0 2px 5px #999999;
 transition: .4s;
}

input:checked + .slider {
 background-color: #5fdd54;
 border: 1px solid transparent;
}

input:checked + .slider:before {
 transform: translateX(1.5em);
}


/* Settings Div */
#settingsButtonDiv {
	position: fixed;
	top: 8px;
	left: 8px;
}

#settingsButton {
	border: 1px solid #606060a0;
	background-color: #40404080;
	backdrop-filter: blur(8px);
	padding: 8px 16px;
	border-radius: 8px;
	font-size: 20pt;
	transition: background-color 0.15s ease-in-out;
}
#settingsButton:hover {
	background-color: #40404060;
}
#settingsButton:active {
	background-color: #40404040;
}

/* Clicker Styling */
.clickNotification {
	color: #00000050;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 48pt;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

/* Stats Display */
#stats {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 500px;
	padding: 8px;
	/*background-color: #30303080;
	backdrop-filter: blur(8px);
	border: 1px solid #606060a0;*/
	border-radius: 10px;
	left: 50%;
	top: 10px;
	font-size: 28pt;
	transform: translate(-50%, 0);
	line-height: 0.85;
}

#stats * {
	text-shadow: -1px -1px 0 #ddd, 1px -1px 0 #ddd, -1px 1px 0 #ddd, 1px 1px 0 #ddd;
	color: #202328;
}

/* Upgrades Stuff */
.upgradeTable {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 80px;
	padding-inline: 40px;
	box-sizing: border-box;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 100px);
	gap: 10px;
}

#area1 .upgrade {
	margin: 6px;
	font-size: 24pt;

	cursor: pointer;
	background-color: #463f9180;
	border: 1px solid #6059b1a0;
	border-radius: 20px;
	backdrop-filter: blur(16px);
	transition: background-color 0.15s ease-in-out;
}
#area1 .upgrade:hover {
	background-color: #463f9170;
}
#area1 .upgrade:active {
	background-color: #463f9180;
}

#area2 .upgrade {
	margin: 6px;
	font-size: 24pt;

	cursor: pointer;
	background-color: #56c08a80;
	border: 1px solid #60d499a0;
	border-radius: 20px;
	backdrop-filter: blur(16px);
	transition: background-color 0.15s ease-in-out;
}
#area2 .upgrade:hover {
	background-color: #56c08a60;
}
#area2 .upgrade:active {
	background-color: #56c08a80;
}

#area3 .upgrade {
	margin: 6px;
	font-size: 24pt;

	cursor: pointer;
	background-color: #ee6e7d80;
	border: 1px solid #f28794a0;
	border-radius: 20px;
	backdrop-filter: blur(16px);
	transition: background-color 0.15s ease-in-out;
}
#area3 .upgrade:hover {
	background-color: #ee6e7d60;
}
#area3 .upgrade:active {
	background-color: #ee6e7d80;
}

@keyframes bounceUp {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px);
	}
	100% {
		transform: translateY(-3px);
	}
}
@keyframes bounceDown {
	0% {
		transform: translateY(-3px);
	}
	50% {
		transform: translateY(1px);
	}
	100% {
		transform: translateY(0px);
	}
}
.upgrade {
	transition: transform 0.5s ease-in-out;
	box-shadow: 2px 4px 4px #00000030;
}
.upgrade:hover {
	animation: bounceUp 0.3s ease-in-out forwards;
}
.upgrade:active {
	animation: bounceDown 0.3s ease-in-out forwards;
}

/* Skill Tree */
#skillResetButton {
	position: absolute;
	width: 400px;
	height: 300px;
	padding: 32px;
	font-size: 32pt;
	left: 50vw;
	top: 200px;
	transform: translate(-50%, 0%);
	background-color: #15151560;
	border: 1px solid #70707080;
	border-radius: 30px;
	backdrop-filter: blur(12px);
	transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
	box-shadow: 0px 0px 8px #00000040;
}
#skillResetButton:hover {
	background-color: #15151570;
	transform: translate(-50%, -50%), scale(1.02);
}
#skillResetButton:active {
	background-color: #15151560;
	transform: translate(-50%, -50%), scale(1);
}

.skillUpgrade {
	width: 150px;
	height: 150px;
	border-radius: 15px;
	background-color: #30303050;
	border: 1px solid #80808080;
	backdrop-filter: blur(8px);
	transform: translate(-50%, -50%);
	padding-inline: 4px;
	font-size: 16pt;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out, color 0.5 ease-in-out;
}

/* Infinity Stuff */
#infinityResetButton {
	position: absolute;
	width: 400px;
	height: 300px;
	padding: 32px;
	font-size: 64pt;
	left: 50vw;
	top: 200px;
	color: #000;
	transform: translate(-50%, 0%);
	background-color: #15151560;
	border: 1px solid #70707080;
	border-radius: 30px;
	backdrop-filter: blur(12px);
	text-shadow: -2px -2px 0 #ff0088, 2px -2px 0 #aa00ff, -2px 2px 0 #aa00ff, 2px 2px 0 #ff0088;
	transition: background-color 0.1s ease-in-out, transform 0.15s ease-in-out;
	/*box-shadow: 0px 0px 32px #000000f0;*/
}
@keyframes infinityHover {
	0% {
		box-shadow: 0px 0px 0px #ffffff40;
	}
	100% {
		box-shadow: 0px 0px 32px #ffffff40;
	}
}
@keyframes bounceUpInfinity {
	0% {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, -12px);
	}
	100% {
		transform: translate(-50%, -9px);
	}
}
@keyframes bounceDownInfinity {
	0% {
		transform: translate(-50%, -9px);
	}
	50% {
		transform: translate(-50%, 3px);
	}
	100% {
		transform: translate(-50%, 0px);
	}
}
#infinityResetButton:hover {
	background-color: #15151590;
	animation: infinityHover 1s ease-out forwards, bounceUpInfinity 0.5s ease-in-out forwards;
}
#infinityResetButton:active {
	background-color: #15151550;
	animation: infinityHover 1s ease-out forwards, bounceDownInfinity 0.3s ease-in-out forwards;
}

#screenOverlay {
	display: block;
	width: 100vw;
	height: 100vw;
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	z-index: 10000;
}
.playFlash {
	animation: flashBlack 5s ease-out forwards;
}
@keyframes flashBlack {
	0% {
		background-color: #00000000;
	}
	2% {
		background-color: #000000ff;
	}
	10% {
		background-color: #000000ff;
	}
	100% {
    background-color: #00000000;
	}
}


/* Infinity Milestones */
.infinityMilestone {
	width: 600px;
	height: 200px;
	border-radius: 15px;
	background-color: #30303050;
	border: 1px solid #80808080;
	backdrop-filter: blur(8px);
	padding-inline: 4px;
	font-size: 16pt;
	transition: background-color 0.15s ease-in-out, color 0.5 ease-in-out;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 40px;
}
.infinityMilestone * {
	opacity: 0.5;
}
.infinityMilestone.unlocked * {
	opacity: 1;
}
.infinityMilestone > h2 {
	text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
	color: #000;
	margin-bottom: 5px;
	font-size: 32pt;
}
.infinityMilestone > h3 {
	margin-top: 15px;
	font-size: 16pt;
	font-weight: 400;
}
.infinityMilestone > p {
	font-size: 24pt;
}
#milestonesContainer {
	position: absolute;
	left: 50vw;
	top: 600px;
	width: 600px;
	transform: translate(-50%, 0);
	text-align: center;
}

/* Infinity Generators */
#infinityGeneratorsContainer {
	position: absolute;
	left: calc(50vw + 500px);
	top: 200px;

	width: 1000px;
	height: 1000px;
}

#infinityPointsStat {
	color: #e978eb;
	text-align: center;
}
#infinityPowerStat {
	color: #f9c87b;
	text-align: center;
}

#generatorUpgrades {
	display: flex;
	width: fit-content;
	margin: 40px auto;
	flex-direction: row;
	gap: 20px;
}

#generatorUpgrades button {
	width: 400px;
	height: 150px;
	border-radius: 20px;
	padding: 24px;
	box-sizing: border-box;
	background-color: #30303090;
	border: 1px solid #80808080;
	backdrop-filter: blur(8px);
	transition: background-color 0.15s ease-in-out;
}
#generatorUpgrades button:hover {
	background-color: #30303060;
	animation: bounceUp 0.3s ease-out forwards;
}
#generatorUpgrades button:active {
	background-color: #30303090;
	animation: bounceDown 0.3s ease-out forwards;
}
#generatorUpgrades button .description {
	font-size: 24pt;
}
#generatorUpgrades button .cost {
	margin-top: 10px;
	font-size: 20pt;
	color: #d0d0d0;
}


#infinityPowerUpgrades {
	display: grid;
	width: fit-content;
	margin: 40px auto;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#infinityPowerUpgrades button {
	width: 250px;
	height: 150px;
	border-radius: 20px;
	padding: 16px;
	box-sizing: border-box;
	background-color: #30303090;
	border: 1px solid #80808080;
	backdrop-filter: blur(8px);
	transition: background-color 0.15s ease-in-out;
}
#infinityPowerUpgrades button:hover {
	background-color: #30303060;
	animation: bounceUp 0.3s ease-out forwards;
}
#infinityPowerUpgrades button:active {
	background-color: #30303090;
	animation: bounceDown 0.3s ease-out forwards;
}
#infinityPowerUpgrades button .description {
	font-size: 24pt;
}
#infinityPowerUpgrades button .cost {
	margin-top: 10px;
	font-size: 20pt;
	color: #d0d0d0;
}


/* Rebirth Stuff */
.rebirthDiv {
	position: absolute;
	left: 0;
	width: 100%;
	height: 80px;
	bottom: 0px;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#rebirthButton1 {
	width: 50%;
	height: 100%;
	font-size: 24pt;

	cursor: pointer;
	background-color: #4960a680;
	border: 1px solid #5671c0a0;
	border-radius: 15px;
	backdrop-filter: blur(16px);
	transition: background-color 0.15s ease-in-out;
}
#rebirthButton1:hover {
	background-color: #4d66b280;
}
#rebirthButton1:active {
	background-color: #4960a680;
}

#rebirthButton2 {
	width: 50%;
	height: 100%;
	font-size: 24pt;

	cursor: pointer;
	background-color: #75d45f80;
	border: 1px solid #72d95ba0;
	border-radius: 15px;
	backdrop-filter: blur(16px);
	transition: background-color 0.15s ease-in-out;
}
#rebirthButton2:hover {
	background-color: #75d45f88;
}
#rebirthButton2:active {
	background-color: #75d45f80;
}

#rebirthButton3 {
	width: 50%;
	height: 100%;
	font-size: 24pt;

	cursor: pointer;
	background-color: #b0608080;
	border: 1px solid #b06080a0;
	border-radius: 15px;
	backdrop-filter: blur(16px);
	transition: background-color 0.15s ease-in-out;
}
#rebirthButton3:hover {
	background-color: #b0608088;
}
#rebirthButton3:active {
	background-color: #b0608080;
}